.basketItem{
  background-color: white;
  display: grid;
  align-items: center;
  grid-template-columns: auto 120px;
  margin-bottom: 1em;
  padding: 1em;
  border-radius: 3px;
}

.basketItem button{
  background-color: rgb(147, 8, 8);
  color: white;
  border-radius: 2px;
}

.basketItemtitle{
  font-weight: 500;
  font-size: 1.2em;
  text-transform: capitalize;
}

.qtyModifierWrapper{
  padding-left: 30px;
  display: inline-flex;
  gap: 1em;
}

.qtyModifierWrapper button{
  background-color: grey;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}