

.payBtnWrapper{
  margin-top: 1.5em;
}

.payBtnWrapper button{
  width: 100%;
  background-color: green;
  color: white;
  height: 70px;
  border-radius: 5px;
}

.empty{
  background-color: white;
  text-align: center;
  padding: 100px 1em;
}


